---
layout: default
title: All posts
---
<div id="presentation" style="background: none;">
  <!-- Content -->
  <main role="main">
    <div class="project-container">
    {% for post in site.posts %}
      <div class="project">
        <div onclick="location.href='{{ post.url }}'"
        style="
        background: url({{ post.image }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;"></div>
        <div itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <h3 itemprop="name headline"><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h3>
          <span class="post-data">

            <time
            class="timesince date"
            itemprop="datePublished"
            datetime="{{ post.date | date: 'YYYY-MM-DDTHH:mm'}}"
            title="{{ post.date | date: 'D MMM YYYY'}}"
            data-timesince="{{ post.date | date: 'X'}}">
            {{ post.date | date: "%B %e, %Y" }}
            </time>
          </span>
          <br>
          {% for category in post.categories %}
            <a href="/category/{{ category }}">#{{ category }}</a>
          {% endfor %}

          <p>{{ post.description }}</p>
        </div>
      </div>

    {% endfor %}
    </div>

  </main>
</div>
