<div id="header">
  <h3>
    <a href="{{ site.baseurl }}" style="text-decoration: none;">wohlert.nu</a>
  </h3>
  <nav class="links">
    <ul>
        <li><a title="Posts" href="{{ 'posts' | relative_url }}"><i class="fa fa-list"></i></a></li>
        <li><a title="Github" href="https://github.com/wohlert" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a title="Atom feed" href="{{ 'feed.xml' | relative_url }}"><i class="fa fa-rss-square"></i></a></li>
    </ul>
  </nav>
</div>