<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <title>
      Wohlert.nu
    </title>
    <meta name="description" content="{{ meta_description }}" />
  
    <link href="{{ 'assets/scss/style.css' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ 'assets/favicon.ico' | relative_url }}" rel="shortcut icon">
<head>

