<div id="header">
  <h3>
    <svg style="position: absolute; margin-left: -35px;" height="30px" width="30px" viewBox="0 0 45 45">
        <use xlink:href="{{ '/assets/icons/icon.svg#Inverted' | relative_url }}"></use>
    </svg>
    <a href="{{ site.url }}" style="text-decoration: none;">{{ site.title | downcase }}</a>
  </h3>
  <nav class="links">
    <ul>
        <li>
          <a title="About" href="{{ 'about' | relative_url }}">
            <svg class="icon" height="15px" width="15px">
              <use xlink:href="{{ '/assets/icons/info.svg#icon' | relative_url }}"></use>
            </svg>
          </a>
        </li>
        <li>
          <a title="Posts" href="{{ 'posts' | relative_url }}">
          <svg class="icon" height="15px" width="15px">
            <use xlink:href="{{ '/assets/icons/posts.svg#icon' | relative_url }}"></use>
          </svg>
          </a>
        </li>
        <li class="external">
        <a title="Github" href="https://github.com/wohlert" target="_blank">
          <svg class="icon" height="15px" width="15px">
            <use xlink:href="{{ '/assets/icons/github.svg#icon' | relative_url }}"></use>
          </svg>
        </a>
        </li>
        <li class="external">
        <a title="Twitter" href="https://twitter.com/whlrt" target="_blank">
          <svg class="icon twitter" height="15px" width="15px">
            <use xlink:href="{{ '/assets/icons/twitter.svg#icon' | relative_url }}"></use>
          </svg>
        </a>
        </li>
        <li class="external">
        <a title="Atom feed" href="{{ 'feed.xml' | relative_url }}">
          <svg class="icon rss" height="15px" width="15px">
            <use xlink:href="{{ '/assets/icons/rss-square.svg#icon' | relative_url }}"></use>
          </svg>
        </a>
        </li>
        <li class="external">
          <a title="Toggle dark / light mode" href="#" onclick="toggle()" id="toggler">
            <svg class="icon" height="15px" width="15px">
              <use xlink:href="{{ '/assets/icons/dice.svg#icon' | relative_url }}"></use>
            </svg>
          </a>
        </li>
    </ul>
  </nav>
</div>
