<footer>
  <section class="colophon">
    <section class="copyright">
      Copyright &copy; <span itemprop="copyrightHolder">{{ site.title }}</span>. <span rel="license">All Rights Reserved</span>.
    </section>
  </section>
</footer>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
  CommonHTML: { linebreaks: { automatic: true } },
  "HTML-CSS": { linebreaks: { automatic: true } },
          SVG: { linebreaks: { automatic: true } }
});
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script src="{{ 'assets/js/highlight.pack.js' | absolute_url }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
// Handler that uses various data-* attributes to trigger
// specific actions, mimicing bootstraps attributes
const triggers = Array.from(document.querySelectorAll('[data-toggle="collapse"]'));

window.addEventListener('click', (ev) => {
  const elm = ev.target;
  if (triggers.includes(elm)) {
    if (elm.getAttribute("data-state") == "-") {
      elm.setAttribute("data-state", "+");
      elm.innerHTML = "❬";
    } else {
      elm.setAttribute("data-state", "-");
      elm.innerHTML = "❭";
    }
    const selector = elm.getAttribute('data-target');
    collapse(selector, 'toggle');
  }
}, false);


const fnmap = {
  'toggle': 'toggle',
  'show': 'add',
  'hide': 'remove'
};
const collapse = (selector, cmd) => {
  const targets = Array.from(document.querySelectorAll(selector));
  targets.forEach(target => {
    target.classList[fnmap[cmd]]('show');
  });
}
</script>
