<footer>
  <section class="colophon">
    <section class="copyright">
      Copyright &copy; <span itemprop="copyrightHolder">{{ site.title }}</span>. <span rel="license">All Rights Reserved</span>.
    </section>
  </section>
</footer>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$$','$$'], ['\\(','\\)']]},
  CommonHTML: { linebreaks: { automatic: true } },
  "HTML-CSS": { linebreaks: { automatic: true } },
          SVG: { linebreaks: { automatic: true } }
});
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/javascript" src="{{ 'assets/js/margin-notes.js' | relative_url }}"></script>
<script src="{{ 'assets/js/highlight.pack.js' | absolute_url }}"></script>
<script>hljs.initHighlightingOnLoad();</script>