.stick {
  width: inherit;
  left: 0;
  position: fixed;
  background-color: #FFF;
  margin-top: -45px;
}

.norm {
  position: relative;
  transform: translateY(-50%);
  top: 50% !important;
}

img.large, img.full {
  max-width: 100%;
  max-width: calc(100% + 3em);
  margin-left: 0;
  margin-left: calc(0px - 1.5em);
}

img.full-js {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: 0 !important;
  position: absolute !important;
  left: 0 !important;
}

.external { display: none !important; }

@media screen and (min-width: $mobile-width){ // Mobile and higher resolutions
  .external { display: inline !important; }

  h1 {
    @include rem-size(1.5);
    a {
      @include rem-size(1.5);
    }
  }
  q {
    width: 110%;
    margin: {
      left: -5%;
      top: 1.5em;
      bottom: 1.5em;
      right: 0;
    };
  }
  img.large, img.full {
    max-width: 100%;
    max-width: calc(100% + 4em);
    margin-left: 0;
    margin-left: calc(0px - 2em);
  }
}

.external {
    display: none;
}

@media screen and (min-width: $tablet-width){ // Tablet and higher resolutions
  .links {
    display: inline-block;
  }

  #presentation {
    padding: 0;
    padding-top: 20px;
    background-size: 100%;
    border-radius: 5px;
    width: 80%;
    .description {
      font-size: 200%;
      max-width: 9999px;
      width: 400px;
    }
  }

  #header {
    text-align: left;
  }

  main.index {
    width: 70%;
  }

  #title {
    top: 520px !important;
    h2 {
      text-shadow: none;
      text-align: right !important;
    }
  }
  #social, #title {
    text-align: right;
    right: 100px;
    width: 300px;
  }
  h1 {
    @include rem-size(3);
    a {
      @include rem-size(3);
    }
  }
  img.large, img.full {
    max-width: 100%;
    max-width: calc(100% + 5em);
    margin-left: 0;
    margin-left: calc(0px - 2.5em);
  }

  #grid {
    margin: 0;
    padding: 0;
    main {
      height: 100vh;
      width:40vw;
      display: block;
    }
    div#sidebar {
      height: 100vh;
      width:58vw;
      display: block;
      float: right;
      vertical-align: top;
    }
  }
  .stick {
    left: 0;
    top: 0;
    width: inherit;
    margin-top: 0;
  }
}

@media screen and (min-width: $desktop-width){ // Desktop higher resolutions
  h1 {
    @include rem-size(2.5);
    a {
      @include rem-size(2.5);
    }
  }
  img.large, img.full {
    max-width: 100%;
    max-width: calc(100% + 10em);
    margin-left: 0;
    margin-left: calc(0px - 5em);
  }
}

@media screen and (min-height: $mobile-height){
  header.site-header {
    &.cover {
      height: 25em;
      section.header-content {
        span.blog-description {
          margin-top: 1em;
        }
      }
      nav.links {
        margin-top: 1em;
      }
    }
  }
}

@media screen and (min-width: $mobile-width){ // Mobile and higher resolutions

  #title {
    margin-top: 0px !important;
  }
  header.site-header {
    &.compact {
      section.header-content {
        padding: 0 2em;
        @include flex-direction(row);
      }
    }
    &.cover {
      section.header-content {
        a.blog-title {
          @include rem-size(2.5);
        }
      }
    }
  }
  main {
    padding: 2em;
    &.index {
      overflow: scroll;
      article.post {
        margin: 2em 0;
      }
    }
  }
  .pagination {
    span.pagination-text {
      display: inline;
    }
  }
  .header-content nav {
    display: inline;
  }
  #mini-nav {
    right: 5%;
    .sidebutton {
      padding: 0;
    }
    nav {
      margin-right: 0;
    }
  }
}

@media screen and (min-height: $tablet-height){
  header.site-header {
    &.cover {
      height: 31.25em;
    }
  }
}

@media screen and (min-width: $tablet-width){ // Tablet and higher resolutions
  header.site-header {
    &.compact {
      section.header-content {
        padding: 0 2.5em;
      }
    }
    &.cover {
      section.header-content {
        a.blog-title {
          @include rem-size(3);
        }
      }
      nav.links {
        @include rem-size(2);
      }
    }
  }
  main {
    padding: 2.5em;
    &.index {
      article.post {
        margin: 2.5em 0;
      }
    }
  }
  .blog-image {
    height: 520px;
    h1 {
      padding: 150px;
    }
  }
  .post-nav {
    display: inline;
  }
  #social {
    top: 90px;
  }
}

@media screen and (min-height: $desktop-height){
  header.site-header {
    &.cover {
      height: 37.5em;
    }
  }
}

@media screen and (min-width: $desktop-width){ // Desktop higher resolutions
  header.site-header {
    &.compact {
      section.header-content {
        padding: 0 3em;
      }
    }
    &.cover {
      section.header-content {
        a.blog-title {
          @include rem-size(4);
        }
      }
    }
  }
  main {
    padding: 3em;
    &.index {
      article.post {
        margin: 2em 0;
      }
    }
  }
}
