@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@font-face {
  font-family: 'Big Caslon Medium';
  src: url('../fonts/big-caslon-medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/big-caslon-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/big-caslon-medium.woff') format('woff'),
       url('../fonts/big-caslon-medium.ttf') format('truetype');
}

$color-main: #8158fc;
$color-second: #aa58fc;

$color-primary: darken($color-main, 10%);

$color-main-u: #FEFEFE;

$font: 'Open Sans', 'Arial', sans-serif;
$font-main: "Big Caslon", "Big Caslon Medium", "Palatino", "Georgia", serif;
$font-code: 'Source Code Pro', monospace;

$color-text: #566368;
$color-headline: darken($color-text, 10%);

@import 'highlight';

@keyframes gradientflow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@-moz-keyframes gradientflow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@-webkit-keyframes gradientflow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

#presentation {
  .description {
    color: #000;
    color: #fff;
  }
  border-radius: 5px;
  background: #eee;
  background: linear-gradient(160deg, #e158fc, $color-main, #5873fc);
  background-size: 300% 300%;
	animation: gradientflow 10s ease-in-out infinite;
	-moz-animation: gradientflow 10s ease-in-out infinite;
	-webkit-animation: gradientflow 10s ease-in-out infinite;
}

button:focus {
  outline: none;
}

body {
  color: $color-text;
  font-family: $font;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-slate;
  font-family: $font-main;
  font-weight: 700;
}

a {
  color: black;
  text-decoration: underline;
  text-decoration-color: lighten($color-main, 10%);
  transition: all 0.5s ease !important;
  &:hover {
    text-decoration: none;
  }
}

p {
  a {
    color: $color-main;
    font-weight: bold;
    text-decoration: none;
    &:hover { 
      color: black;
    }
  }
}

code {
  background-color: $color-main-u;
  border-color: darken($color-main-u, 20%);
  border-radius: 3px;
  font-family: $font-code;
}

pre {
  border-radius: 3px;
}

nav {
  display: none;
}

blockquote {
  background-color: $color-main-u;
  //border-left: 3px solid lighten($color-main, 30%);
  padding: 10px 50px;
  color: $color-text;
}

figcaption {
  color: darken($color-main-u, 20%);
  font-style: italic;
}

#index-header {
  display: none;
}

.byline {
  display: inline;
  a { text-decoration: none }
}

.post-title, .pagination {
    a {
        color: $color-text;
        text-decoration: none;
        &:hover { color: lighten($color-main, 20%); }
    }
}

// !-- SIDEBAR INDEX --! //
#sidebar {
  * {
    color: #000;
    font-family: $font-main;
    text-align: left;
  }
  background-color: $color-grey-l;
}

// Overlay for projects
#matter {
  width: inherit;
  height: inherit;
  position: absolute;
}

#projects {
  visibility: hidden;
  h3, h5 {
    background: $color-main;
    padding: 0 5px;
    a {
      text-decoration: underline;
    }
  }
  h5 {
    width: 120px;
  }
}

#title {
  @extend #social;
  margin-top: 30px;
  h2 {
    text-align: center;
    text-shadow:
      -1px -1px 0 #FFF,
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
      1px 1px 0 #FFF;
  }
}

.box {
  padding: 10px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;
}

mark {
  border-bottom: 2px dotted;
  border-bottom-color: $color-text;
  background: none;
}

#header {
  span, a, h3 {
    font-size: 20px;
  }
  h3 {
    border-bottom: 2px solid $color-main;
  }
}

.links, #header>h3, .post-title, .site-name {
    font-family: $font-main;
}

.underline {
  color: $color-headline !important;
  border-bottom: 2px solid $color-main-u;
}

hr {
  border: 0.5px solid #DDD;
}

#references, #footnotes, .proof, .footnotes {
  + p a, a {
    color: #BBB;
  }
  color: #BBB;
}

.title {
  text-align: left;
  a {
    text-decoration: none;
  }
}

.category {
  border: 1px solid #000;
  color: #000;
  background-image: repeating-linear-gradient(45deg, #FFF, #FFF 2px, #EEE 4px, #EEE 1px);
  padding: 5px 15px;
  display: inline-block;
  border-radius: 3px;
  margin: 10px 0px;
  display: none;
}

.wide {
  width: 100% !important;
  max-height: none !important;
  max-width: none !important;
  .post {
    width: 20%;
    min-width: 150px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border: 1px dotted #EEE;
    border-bottom: 3px solid #000;
  }
}

#about {
    h1 {
        color: $color-text !important;
        font-weight: 300;
    }
    .sign {
        color: $color-main;
        font-weight: 300;
    }
}

.content > .meta {
    text-align: center;
}

.fade-in {
 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 1, 1);; 

  &.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
  }
}

.collapser {
  margin: 0 auto;
  display: block;
  font-size: 30px;
  color: #ddd;
  border: none;
  background: none;
  transform: rotate(90deg);
  &:hover { color: #aaa; }
}