@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@font-face {
  font-family: 'Big Caslon Medium';
  src: url('../fonts/big-caslon-medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/big-caslon-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/big-caslon-medium.woff') format('woff'),
       url('../fonts/big-caslon-medium.ttf') format('truetype');
}

//$color-main: #8158fc; //$color-main: #8158fc;
//$color-second: #fc588c; //$color-second: #fc588c; //aa58fc
//$color-third: #502cbb;

// reds
$color-main: #9E579D;
$color-second: #574B90;
$color-third: #303A52;

$color-dark: saturate(lighten(#9E579D, 30%), 20%);

$color-primary: darken($color-main, 10%);

$color-main-u: #FEFEFE;

$font: 'Open Sans', 'Arial', sans-serif;
$font-main: "Big Caslon", "Big Caslon Medium", "Palatino", "Georgia", serif;
$font-code: 'Source Code Pro', monospace;

$color-text: #566368;
$color-headline: darken($color-text, 10%);

@import 'highlight';

@keyframes gradientflow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@-moz-keyframes gradientflow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@-webkit-keyframes gradientflow {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

#presentation {
  .description {
    color: #FFF;
  }
  background: #eee;
  background: linear-gradient(160deg, $color-third, $color-main, $color-second);
  background-size: 300% 300%;
	animation: gradientflow 8s ease-in-out infinite;
	-moz-animation: gradientflow 8s ease-in-out infinite;
	-webkit-animation: gradientflow 8s ease-in-out infinite;
}

button:focus {
  outline: none;
}

body {
  color: $color-text;
  font-family: $font;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-slate;
  font-family: $font-main;
  font-weight: 700;
}



a {
  color: black;
  text-decoration-color: lighten($color-main, 10%);
  transition: all 0.5s ease !important;
  &:hover {
    text-decoration: none;
  }
}

p a {
  color: desaturate($color-main, 10%);
  &:hover {
    color: $color-main;
    text-decoration: underline;
  }
}

.svg-inline--fa {
  fill: #000;
}

code {
  background-color: $color-main-u;
  border-color: darken($color-main-u, 20%);
  border-radius: 3px;
  font-family: $font-code;
}

pre {
  border-radius: 3px;
}

nav {
  display: none;
}

blockquote {
  padding: 10px 50px;
}

figcaption {
  color: darken($color-main-u, 35%);
  font-size: 0.9rem;
  font-style: italic;
}

#index-header {
  display: none;
}

.byline {
  display: inline;
  a { text-decoration: none }
}

.post-title, .pagination {
    a {
        color: $color-text;
        text-decoration: none;
        &:hover { color: lighten($color-main, 20%); }
    }
}

// !-- SIDEBAR INDEX --! //
#sidebar {
  * {
    color: #000;
    font-family: $font-main;
    text-align: left;
  }
  background-color: $color-grey-l;
}

// Overlay for projects
#matter {
  width: inherit;
  height: inherit;
  position: absolute;
}

#projects {
  visibility: hidden;
  h3, h5 {
    background: $color-main;
    padding: 0 5px;
    a {
      text-decoration: underline;
    }
  }
  h5 {
    width: 120px;
  }
}

#title {
  @extend #social;
  margin-top: 30px;
  h2 {
    text-align: center;
    text-shadow:
      -1px -1px 0 #FFF,
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
      1px 1px 0 #FFF;
  }
}

.box {
  padding: 10px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;
}

mark {
  border-bottom: 2px dotted;
  border-bottom-color: $color-text;
  background: none;
}

#header {
  span, a, h3 {
    font-size: 20px;
  }
  h3 {
    //border-bottom: 2px solid $color-main;
  }
}

.links, #header>h3, .post-title, .site-name {
    font-family: $font-main;
}

.underline {
  border-bottom: 0.5px solid $color-main;
}

hr {
  border: 0.5px solid #eee;
  margin : 40px 0;
}

#references, #footnotes, .proof, .footnotes {
  + p a, a {
    color: #BBB;
  }
  color: #BBB;
}

.title {
  text-align: left;
  a {
    text-decoration: none;
  }
}

.category {
  border: 1px solid #000;
  color: #000;
  background-image: repeating-linear-gradient(45deg, #FFF, #FFF 2px, #EEE 4px, #EEE 1px);
  padding: 5px 15px;
  display: inline-block;
  border-radius: 3px;
  margin: 10px 0px;
  display: none;
}

.wide {
  width: 100% !important;
  max-height: none !important;
  max-width: none !important;
  .post {
    width: 20%;
    min-width: 150px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border: 1px dotted #EEE;
    border-bottom: 3px solid #000;
  }
}

#about {
    h1 {
        color: $color-text !important;
        font-weight: 300;
    }
    .sign {
        color: $color-main;
        font-weight: 300;
    }
}

.content > .meta {
    text-align: left;
    color: #aaa !important;
    li {
      margin: 0;
      padding-left: 10px;
      list-style-type: none;
    }
    .description {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      font-size: 18px;
      margin: 20px 0px;
      min-height: 50px;
      .heading {
        display: flex;
        flex-wrap: wrap;
        p {
          margin: 0;
          padding: 0;
        }
      }
      .meta-data {
      }
      a {
        //color: lighten($color-main, 5%);
        color: #666;
        text-decoration: underline;
        text-decoration-style: dotted;
      }
    }
}

.fade-in {
 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
     -ms-animation: fadein 1s; /* Internet Explorer */
      -o-animation: fadein 1s; /* Opera < 12.1 */
         animation: fadein 1s;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 1, 1, 1);;

  &.show {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
  }
}

.collapser {
  margin: 0 auto;
  display: block;
  font-size: 30px;
  color: #ddd;
  border: none;
  background: none;
  transform: rotate(90deg);
  &:hover { color: #aaa; }
}

#contact {
  @extend #presentation;
  color: #fff;
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  h2, a {
    color: #fff;
  }
}

.domain-a::before {
   content: "\0040";    /* Unicode character for @ symbol */
}

.domain-d::before {
  content: "\002E";
}

figure {
  min-width:300px;
}

.dark {
  background: #222;
  #header {
    background: #222;
    * {
      color: #fff;
    }
  }
  #presentation {
    main {
      background: none;
      a {
        color: #fff;
      }
      div {
        color: #ddd;
      }
    }

    .description {
      width: 200px;
    }
  }
}

body.post-template {
  background-color: #fff;
}

#header {
  border-bottom: 1px solid #eee;
  padding: 5px 20%;
}

#main {
  background-color: #fff;
}

.footnotes a {
    text-decoration: underline;
}

blockquote {
  border-left: 2px dotted #ddd;
}

a {
  text-decoration: underline;
  text-decoration-style: dotted;
}


.project-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  .project {
    overflow: initial;
    width: 100%;
    padding: 15px 0 0 0;
    display: flex;
    flex-wrap: wrap;

    div:nth-child(1) {
      cursor: pointer;
      height: 250px;
      border-radius: 4px;
      box-shadow: 1px 1px 5px 1px rgba($color: #000000, $alpha: 0.0);
      background: linear-gradient(30deg, #574b90, #9e579d, #fc85ae);;
    }
    div:nth-child(2) {
      padding: 20px;
      span {
        color: #aaa;
        margin: 0;
      }
      p, h3 {
        margin: 0;
      }
    }
  }
}
