@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/**
 * Base stylesheet for resetting and
 * overriding of default styles on
 * default elements.
 * This means no classes or ids in
 * this file.
 */
@import url(https://fonts.googleapis.com/css?family=Nunito:300,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
html, body, div, span, applet, object, iframe,
h1, h2, h3, .archive-heading, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, .archive-heading, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  height: 100%;
  max-height: 100%;
}

body {
  color: #3F484C;
  background-color: #FFF;
  font-family: Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  line-height: 150%;
  max-height: 100%;
}

h1, h2, h3, .archive-heading, h4, h5 {
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: #3F484C;
  font-size: 32px;
  font-size: 2rem;
}

h1 {
  line-height: 1.2em;
  text-align: center;
}

h2 {
  margin: 1em 0;
  font-size: 24px;
  font-size: 1.5rem;
}

h3, .archive-heading {
  margin: 1em 0;
  font-size: 20px;
  font-size: 1.25rem;
}

h4 {
  margin: 1em 0;
  font-size: 12px;
  font-size: 0.75rem;
}

h5 {
  margin: 1em 0;
  font-size: 8px;
  font-size: 0.5rem;
  text-transform: uppercase;
}

a {
  color: blue;
  background: none;
  text-decoration: none;
  transition: text-decoration 200ms ease;
}
a:hover {
  text-decoration: underline;
}

p {
  line-height: 150%;
  margin: 1.5em 0;
}

code {
  border: 1px solid black;
  padding: 0 5px;
  font-size: 12px;
  font-size: 0.75rem;
  font-family: Consolas, monospace;
  white-space: nowrap;
}

pre {
  margin: 1.5em 0;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 19px;
  overflow: auto;
  padding: 0;
}
pre code {
  border-radius: 5px;
  padding: 2em !important;
  border: none;
  white-space: pre-wrap;
  text-overflow: clip;
}

img {
  border-radius: 5px;
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

ol {
  list-style: decimal;
  margin-left: 24px;
}
ol li {
  margin: 0.5em 0;
}
ol li ol {
  list-style: lower-alpha;
}
ol li ul {
  list-style: disc;
}

ul {
  margin-left: 18px;
  list-style: disc;
  line-height: 1.5em;
}
ul li {
  margin: 0.5em 0;
}
ul li ol {
  list-style: decimal;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

sup {
  vertical-align: super;
  font-size: 12px;
  font-size: 0.75rem;
}

blockquote {
  padding: 10px 40px;
  background-color: white;
  color: #848484;
}
blockquote p {
  font-style: italic;
}

q {
  font-size: 9.6px;
  font-size: 0.6rem;
  display: block;
  width: 100%;
  margin-left: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-right: 0;
  font-weight: 300;
  line-height: 130%;
  text-align: center;
  font-style: italic;
}
q::before {
  content: "\201C";
}
q::after {
  content: "\201D";
}

kbd {
  border-radius: 3px;
  padding: 0px 10px;
  background-color: #F7F7F7;
  border: 1px solid #DDD;
  white-space: nowrap;
  cursor: default;
  display: inline-block;
}

figcaption {
  text-align: center;
  color: #DDD;
  margin-top: 10px;
}

.widget {
  width: 100%;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid #CCC;
  background: #FFF;
  padding: 10px;
}

span.post-data {
  margin: 0 !important;
  color: #DDD;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.5em;
}

main.index {
  background-color: #FFF;
  overflow: hidden;
  max-height: 140vh;
  padding: 5% 7%;
}
main.index * {
  font-size: 95%;
}
main.index .post-title, main.index .pagination {
  margin: 0;
}
main.index .post-title a, main.index .pagination a {
  color: #3F484C;
}
main.index h1 {
  color: #D3D3D3 !important;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 100;
}
main.index article.post {
  margin: 1em 0;
  border-bottom: 2px solid #F7F7F7;
  padding-bottom: 1em;
}
main.index article.post:first-child {
  margin-top: 0;
}
main.index article.post:last-child {
  margin-bottom: 0;
}
main.index article.post header.meta h1.post-title, main.index article.post header.meta h1.page-title {
  margin-bottom: 0.5em;
}

main.post article.content header.meta span.post-data, main.page article.content header.meta span.post-data {
  display: block;
  color: #D3D3D3;
  text-align: center;
  margin: 1em 0;
}
main.post article.content header.meta span.post-data .tags a, main.page article.content header.meta span.post-data .tags a {
  color: #DDD;
  text-underline: none;
  font-weight: 400;
}
main.post article.content section.byline span.author, main.page article.content section.byline span.author {
  color: #D3D3D3;
  font-weight: 300;
}
main.post article.content section.byline span.author a, main.page article.content section.byline span.author a {
  color: #DDD;
  font-weight: 300;
}

main.pagination {
  width: 100%;
  position: relative;
  text-align: center;
  color: #D3D3D3;
}
main.pagination i {
  color: #D3D3D3;
}
main.pagination .newer-posts, main.pagination .older-posts {
  position: absolute;
}
main.pagination .newer-posts {
  left: 0;
}
main.pagination .older-posts {
  right: 0;
}
main.pagination .pagination-text {
  display: none;
}

footer {
  color: #D3D3D3;
}
footer a {
  color: #D3D3D3;
  font-weight: 400;
}
footer section.colophon {
  display: block;
  max-width: 800px;
  padding: 2em;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
footer section.colophon section {
  font-size: 80%;
  margin-bottom: 0.5em;
}
footer section.colophon section:last-child {
  margin-bottom: 0;
}

.post-nav {
  display: none;
  top: 0;
  margin: 0 30px;
  font-size: 16px;
}
.post-nav a {
  color: white;
}
.post-nav a:hover {
  color: white;
}
.post-nav.prev {
  float: left;
}
.post-nav.next {
  float: right;
}

.post-data span {
  margin: 0;
  padding: 0;
}

.post-template {
  background: #F7F7F7;
}

.navigation, #header {
  height: 70px;
  top: 10px;
  background: white;
}
.navigation .post-nav a, #header .post-nav a {
  color: #3F484C;
  background: none;
  text-decoration: none;
}

.tags {
  height: 100vh;
}
.tags h1, .tags h1 a {
  color: #3F484C;
  text-align: left;
}
.tags ul {
  margin-left: 0;
  list-style-type: none;
}
.tags .post-title, .tags post-data {
  display: inline;
}
.tags .post-data {
  font-size: 70%;
}

.headline {
  color: #FFF;
}

.blog-image .navigation, .blog-image #header {
  background: none;
}
.blog-image .navigation .post-nav a, .blog-image #header .post-nav a {
  color: #FFF;
}

#header {
  padding: 5px 10%;
  text-align: center;
}
#header * {
  display: inline-block;
}
#header h3, #header .archive-heading {
}

main.page th {
  font-weight: bold;
}
main.page .page-title {
  margin-bottom: 50px;
}

embed {
  display: block;
  margin: auto;
}

/**
* Stickied mini nav
* used for navigation from
* blog posts
*/
#mini-nav {
  position: fixed;
  right: 50vw;
  bottom: 30px;
}
#mini-nav button {
  width: 40px;
  height: 40px;
  background: #DDD;
  color: black;
  border-radius: 40px;
  border: medium none;
  font-size: 100%;
}
#mini-nav nav {
  display: block;
  background: #DDD;
  width: 180px;
  height: 40px;
  padding-top: 8px;
  margin-right: -90px;
}
#mini-nav nav ul {
  list-style-type: none;
  margin-left: 0;
}
#mini-nav nav li {
  display: inline;
  padding: 18px;
}
#mini-nav nav li a {
  color: black;
  background: none;
}
#mini-nav nav li a:hover {
  color: blue;
  background: none;
}

/**
* Frontpage divisor grid
* for showing posts and image
*/
#grid {
  margin: 0;
  padding: 0;
}
#grid main {
  width: 100vw;
  height: 60vh;
  display: block;
  vertical-align: bottom;
}

nav.links {
  list-style: none;
  display: inline;
}
nav.links li {
  display: inline-block;
}
nav.links a {
  text-decoration: none;
}
nav.links ul, nav.links li {
  display: inline;
}

.links {
  float: right;
  margin: 15px 0px;
}
.links * {
  padding-right: 5px;
  color: #3F484C;
}
.links li:first {
  padding-left: 5px;
}

#sidebar {
  height: 40vh;
  width: 100vw;
  display: block;
  vertical-align: top;
  background-color: #F7F7F7;
}
#sidebar div {
  width: inherit;
  vertical-align: bottom;
  text-align: center;
}

#presentation {
  margin: 0px auto;
  position: relative;
  background-repeat: no-repeat !important;
}
#presentation h1 {
  color: #FFF;
  visibility: hidden;
}
#presentation .description {
  max-width: 250px;
  font-weight: 100;
  font-size: 1.4rem;
  color: #FFF;
  width: 400px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.stick {
  width: inherit;
  left: 0;
  position: fixed;
  background-color: #FFF;
  margin-top: -45px;
}

.norm {
  position: relative;
  transform: translateY(-50%);
  top: 50% !important;
}

img.large, img.full {
  max-width: 100%;
  max-width: calc(100% + 3em);
  margin-left: 0;
  margin-left: calc(0px - 1.5em);
}

img.full-js {
  width: 100% !important;
  max-width: 100% !important;
  margin-left: 0 !important;
  position: absolute !important;
  left: 0 !important;
}

.links {
  display: none;
}

@media screen and (min-width: 25em) {
  h1 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  h1 a {
    font-size: 24px;
    font-size: 1.5rem;
  }

  q {
    width: 110%;
    margin-left: -5%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 0;
  }

  img.large, img.full {
    max-width: 100%;
    max-width: calc(100% + 4em);
    margin-left: 0;
    margin-left: calc(0px - 2em);
  }
}
@media screen and (min-width: 40em) {
  .links {
    display: inline-block;
  }

  #presentation {
    padding: 0;
    padding-top: 40px;
    background-position: 0 -200px !important;
    background-size: 100% !important;
    width: 80%;
  }
  #presentation .description {
    font-size: 2vw;
    max-width: 9999px;
  }
  #presentation h1 {
    visibility: visible;
  }

  #header {
    text-align: left;
  }

  main.index {
    width: 70%;
  }

  #projects {
    margin-left: 10%;
    margin-top: 200px;
    width: 400px !important;
    visibility: visible !important;
  }
  #projects * {
    margin-top: 40px;
  }

  #title {
    top: 520px !important;
  }
  #title h2 {
    text-shadow: none;
    text-align: right !important;
  }

  #social, #title, #title {
    text-align: right;
    right: 100px;
    width: 300px;
  }

  h1 {
    font-size: 48px;
    font-size: 3rem;
  }
  h1 a {
    font-size: 48px;
    font-size: 3rem;
  }

  img.large, img.full {
    max-width: 100%;
    max-width: calc(100% + 5em);
    margin-left: 0;
    margin-left: calc(0px - 2.5em);
  }

  #grid {
    margin: 0;
    padding: 0;
  }
  #grid main {
    height: 100vh;
    width: 40vw;
    display: block;
  }
  #grid div#sidebar {
    height: 100vh;
    width: 58vw;
    display: block;
    float: right;
    vertical-align: top;
  }

  .stick {
    left: 0;
    top: 0;
    width: inherit;
    margin-top: 0;
  }
}
@media screen and (min-width: 65em) {
  h1 {
    font-size: 40px;
    font-size: 2.5rem;
  }
  h1 a {
    font-size: 40px;
    font-size: 2.5rem;
  }

  img.large, img.full {
    max-width: 100%;
    max-width: calc(100% + 10em);
    margin-left: 0;
    margin-left: calc(0px - 5em);
  }
}
@media screen and (min-height: 37.5em) {
  header.site-header.cover {
    height: 25em;
  }
  header.site-header.cover section.header-content span.blog-description {
    margin-top: 1em;
  }
  header.site-header.cover nav.links {
    margin-top: 1em;
  }
}
@media screen and (min-width: 25em) {
  #title {
    margin-top: 0px !important;
  }

  header.site-header.compact section.header-content {
    padding: 0 2em;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  header.site-header.cover section.header-content a.blog-title {
    font-size: 40px;
    font-size: 2.5rem;
  }

  main {
    padding: 2em;
  }
  main.index {
    overflow: scroll;
  }
  main.index article.post {
    margin: 2em 0;
  }

  .pagination span.pagination-text {
    display: inline;
  }

  .header-content nav {
    display: inline;
  }

  #mini-nav {
    right: 5%;
  }
  #mini-nav .sidebutton {
    padding: 0;
  }
  #mini-nav nav {
    margin-right: 0;
  }
}
@media screen and (min-height: 45em) {
  header.site-header.cover {
    height: 31.25em;
  }
}
@media screen and (min-width: 40em) {
  header.site-header.compact section.header-content {
    padding: 0 2.5em;
  }
  header.site-header.cover section.header-content a.blog-title {
    font-size: 48px;
    font-size: 3rem;
  }
  header.site-header.cover nav.links {
    font-size: 32px;
    font-size: 2rem;
  }

  main {
    padding: 2.5em;
  }
  main.index article.post {
    margin: 2.5em 0;
  }

  .blog-image {
    height: 520px;
  }
  .blog-image h1 {
    padding: 150px;
  }

  .post-nav {
    display: inline;
  }

  #social, #title {
    top: 90px;
  }
}
@media screen and (min-height: 60em) {
  header.site-header.cover {
    height: 37.5em;
  }
}
@media screen and (min-width: 65em) {
  header.site-header.compact section.header-content {
    padding: 0 3em;
  }
  header.site-header.cover section.header-content a.blog-title {
    font-size: 64px;
    font-size: 4rem;
  }

  main {
    padding: 3em;
  }
  main.index article.post {
    margin: 2em 0;
  }
}
/*

grayscale style (c) MY Sun <simonmysun@gmail.com>

*/


pre code {
  display: block;
  background: white;
  color: #4d4d4c;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}

body {
  color: #566368;
  font-family: "Open Sans", "Arial", sans-serif;
}

h1, h2, h3, .archive-heading, h4, h5, h6 {
  color: #3f484c;
  font-family: "Nunito", sans-serif;
}

a {
  color: #3f484c;
  text-decoration: underline;
  text-decoration-color: #6d7e84;
  transition: all 0.5s ease !important;
}
a:hover {
  text-decoration: none;
}

code {
  background-color: #FEFEFE;
  border-color: #cbcbcb;
  border-radius: 3px;
  font-family: "Source Code Pro", monospace;
}

pre {
  border-radius: 3px;
}

nav {
  display: none;
}

nav.links {
  text-transform: uppercase;
  font-family: "Source Code Pro", monospace;
}

figcaption {
  color: #cbcbcb;
  font-style: italic;
}

#index-header {
  display: none;
}

.byline {
  display: inline;
}
.byline a {
  text-decoration: none;
}

.post-title a, .pagination a {
  color: #566368;
  text-decoration: none;
}
.post-title a:hover, .pagination a:hover {
  color: #82d7a8;
}

#sidebar {
  background: url("http://i.imgur.com/lVUj8bp.png");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F7F7F7;
}
#sidebar * {
  color: #000;
  font-family: "Nunito", sans-serif;
  text-align: left;
}

#matter {
  width: inherit;
  height: inherit;
  position: absolute;
}

#projects {
  visibility: hidden;
}
#projects h3, #projects .archive-heading, #projects h5 {
  background: #08a5b4;
  padding: 0 5px;
}
#projects h3 a, #projects .archive-heading a, #projects h5 a {
  text-decoration: underline;
}
#projects h5 {
  width: 120px;
}

#title {
  margin-top: 30px;
}
#title h2 {
  text-align: center;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

.box {
  padding: 10px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;
}

footer {
  background: #FFFFFF;
}

li a {
  text-decoration: none;
  font-weight: bold;
}

.post-title, .post-data {
  text-align: left !important;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #fff;
}

.hljs-comment,
.hljs-quote {
  color: #777;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal {
  color: #591FCE;
}

.hljs-string,
.hljs-doctag,
.hljs-formula {
  color: #333;
  background: #DDD;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #000;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.hljs-name {
  color: #333;
  font-weight: bold;
}

.hljs-tag {
  color: #333;
}

.hljs-regexp {
  color: #333;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPUlEQVQYV2NkQAN37979r6yszIgujiIAU4RNMVwhuiQ6H6wQl3XI4oy4FMHcCJPHcDS6J2A2EqUQpJhohQDexSef15DBCwAAAABJRU5ErkJggg==) repeat;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAO7d+/+z4gsBhJwdXVlhAvCBECKwIIwAbhKZBUwBQA6hBpm5efZsgAAAABJRU5ErkJggg==) repeat;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #000;
  text-decoration: underline;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  color: #fff;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAE0lEQVQIW2MMDQ39zzhz5kwIAQAyxweWgUHd1AAAAABJRU5ErkJggg==) repeat;
}

.hljs-addition {
  color: #000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAALUlEQVQYV2N89+7dfwYk8P79ewZBQUFkIQZGOiu6e/cuiptQHAPl0NtNxAQBAM97Oejj3Dg7AAAAAElFTkSuQmCC) repeat;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-built_in {
  color: #591FCE !important;
}

.hljs-built_in, .hljs-builtin-name {
  color: #591FCE;
}

p a {
  color: #591FCE;
  text-decoration: none;
}
p a:hover {
  color: #591FCE !important;
}

blockquote {
  border-left: 1px solid #591FCE;
  color: #888;
  border-radius: 0px;
  font-style: italic;
  margin-bottom: 10px;
}

mark {
  line-height: 0em;
  border-bottom: 2px dotted;
  border-bottom-color: #591FCE;
  background: none;
  padding-bottom: 0px;
}

#header h3 {
  border-bottom: 2px solid #591FCE;
}
