<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="post-template">
    {% include header.html %}
    <main id="main" class="post">
      <article class="content post">
        <header class="meta">
          <h1 class="post-title">{{ page.title }}</h1>
          <span class="post-data">
              <time class="date" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" title="{{ page.date | date_to_string }}">Published on {{ page.date | date_to_string }}
              </time>
              <section class="byline" style="display:none;"> <span itemprop="author" itemscope="" itemtype="http://schema.org/Person"><span itemprop="name" rel="author">Jesper Wohlert</span></span>
              </section>
          </span>
        </header>
        <section itemprop="articleBody text" class="post-content">
            {{ content }}
        </section>
      </article>
    </main>
    {% include postfooter.html %}
  </body>
</html>
